@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Ribeye&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 230px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
}

.nav__list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}