@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Ribeye&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 250px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    color: #fff;
}


.nav__list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 18px;

}

.btn {
    padding: 20px 45px;
    border-radius: 5px;
    color: #fff;
    background-color: #C9453B;
    border: none;
    cursor: pointer;

    font-size: 16px;
}

.logo {
    font-family: 'Ribeye';
    font-size: 24px;
    font-weight: 400;
}

.welcome__subtittle {
    font-family: Gelasio;
    font-weight: 700;
    font-size: 65px;

    max-width: 805px;
}

.welcome__tittle {
    font-weight: 400;
    font-size: 18px;
    opacity: 0.6;

    max-width: 460px;
    margin: 30px 0 40px 0;
}

.welcome {
    color: #fff;

    background-image: url(./img/mainback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    margin-top: -128px;

    display: flex;
    align-items: center;
}

.long {
    margin-top: 140px;
}